$grey_text: #C9C9C9;
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
}
.wraper{
    display: flex;
    justify-content: center;
}
.logo{
    margin-right: 220px;
}
.container{
    width: 1280px;
}
.summ{
    font-size: 8px;
    text-align: center;
    margin-right: 220px;
}
.info{
    display: flex;
    gap: 20px;
    font-size: 8px;
}

.summ_web{
    font-size: 1rem;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        height: 2px;
        bottom: -2px; 
        margin: 0 auto;
		  left: 0;
        right: 0;
		  width: 100%;
		  background: black;
		  
    }
}

section{
    margin-top: 160px; 
}
.section{
    &_title{
        display: flex;
        justify-content: center;
        font-size: 36px;
        margin-bottom: 160px;
    }
    &_info{
        color: #FDA430;
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin-top: 160px;
        text-transform: uppercase;
    }
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_left{
    &_title{
        font-size: 46px;
    }
    &_descr{
        font-size: 18px;
    }   
    &_subtext{
        color: $grey_text;
    }
    &_buttons{
        margin-top: 40px;
        display: flex;
        gap: 25px;
        &_button{
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-weight: 700;
            height: 50px;
            width: 150px;
            background-color: #FB9300;
            &:last-child{
                background-color: #E2F3EB;
                color: black;
                }
        }
    }
}
.main_right{
    &_man{
        
    }
}
@mixin icons {
    margin-right: 30px;
    height: 75px;
    width: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
#icon{
    &_1, &_2, &_3{
        @include icons();
    }
    &_1{
        background-color: #FFECD1;
        border-radius: 30px;
        & img{
            filter: invert(80%) sepia(54%) saturate(5942%) hue-rotate(358deg) brightness(101%) contrast(107%);
        }
    }
    &_2{
        background-color: #F3DEFF;
        & img{
            filter: invert(30%) sepia(15%) saturate(1168%) hue-rotate(234deg) brightness(84%) contrast(90%);
        }
    }
    &_3{
        background: linear-gradient(53deg, rgba(255,208,218,1) 50%, rgba(255,255,255,1) 50%);
        & img{
            filter: invert(84%) sepia(52%) saturate(6027%) hue-rotate(306deg) brightness(93%) contrast(103%);
        }
    }
}
.spec{
    &_blocks{
        margin-top: 140px;
        display: flex;
        &_block{
            display: flex;
            align-items: center;
            width: 250px;
            &:not(:last-child){
                margin-right: 150px;
            }
            &_title{
                margin-bottom: 10px;
                font-weight: 600;
            }
            &_descr{
                color: $grey_text;
            }
            &_icon{
                
                & img{
                    height: 45px;
                }
                }
                &_info{
                }
                
            }
        }
    }

.best{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &_left{
        display: flex;
        gap: 70px;
    }
    &_mid{
        display: flex;
        &_circle{
            background: #E2F3EB;
            height: 200px;
            width: 200px;
            border-radius: 100px;
        }
        
        &_rotated_text{
            transform: rotate(270deg);
            font-weight: 700;
            font-size: 42px;
        }
    }
    &_right{
        display: flex;
        gap: 70px;
    }
}

#skill{
    &_icon{
        &_1{
            background: #F7EAFC;
        }
        &_2{
            background: #FFF5EB;
        }
        &_3{
            background: #F4F4F4;
        }
        &_4{
            background: #E2F3EB;
        }
    }
}
@mixin gap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skill{
    &_blocks{
        display: flex;
        justify-content: space-between;
    }
    &_left{
        &_blocks{
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            width: 700px;
            &_block{
                height: 150px;
                width: 150px;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                align-items: center;
                justify-content: center;
                &_img{
                    height: 75px;
                    width: 75px;
                }
            }
        }
    }
    &_right{
        &_blocks{
            @include gap();
            &_block{
                &_title{
                    font-weight: 700;
                }
                &_descr{
                    color: $grey_text;
                }
                &_2019{
                    @include gap();
                    margin-top: 35px;
                }
            }
        }
    }
}
.year{
    color: #FA810C;
}

.some{
    background: #E2F3EB;
    border-radius: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
    &_icon{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background: #FA9100;
        width: 100px;
        height: 100px;
        & img{
            height: 60px;
            filter: invert(100%) sepia(7%) saturate(820%) hue-rotate(205deg) brightness(118%) contrast(100%);
        }
    }
    &_descr{
        width: 600px;
        & p{
            text-align: center;
            font-weight: 700;
            color: #402C47;
            font-size: 24px;
        }
    }
    &_summary{
        display: flex;
        gap: 30px;
        &_name{
            color: #F6A236
        }
        &_ceo{

        }
    }
}

.footer{
    &_blocks{
        display: flex;
        justify-content: space-between;
        &_left{
            width: 400px;
            &_title{
                margin-bottom: 20px;
            }
            &_descr{
                color: $grey_text;
            }
            &_mail{
                margin-top: 75px;
                color: #FAA940;
                text-decoration: underline;
            }
        }
        &_right{
            width: 350px;
            &_title{
                margin-bottom: 20px;
            }
            &_input{
                display: block;
                margin-bottom: 15px;
                border: none;
                border-bottom: 1px solid $grey_text;
                width: 100%;
                padding: 10px;
                font-size: 16px;
            }
        }
    }
}