*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font_big: 36px;
    --font_av: 24px;
    --font_small: 16px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    width: 200px;
}
.logo h1, .contacts h1{
    font-size: 16px;
    
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.links{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

footer{
    height: 100px;
    width: 100%;
    background: black;
    margin-top: auto;
}

.footer_content, .footer_content a{
    color: white;
    
}


.social_med{
    background: white;
    width: 75px;
    
}
.social{
   margin-right: 30px;
   display: flex;
}
.social_item{
    margin-right: 30px;
}

.content{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.footer_content{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.footer_info{
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    margin-right: 20px;
}

.left{
    display: flex;
}


.right{
    display: flex;
}

.footer_contact{
    display: flex;
    align-items: center;
}

.social .circle{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    color: black;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle img{
    height: 25px;
}
.footer_logo{
    display: flex;
    align-items: center;
}

.content_title{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}